.auth-container{

    .auth-wrapper{
        .forgot-logo{
            img{
                margin-top: 20px;
            }
        }
        .forgot-title{
            font-weight: bold;
            margin-bottom: 8px;
        }

        .auth-form{
            .reset-password{
                text-decoration: none;
                color: #00376B;
                font-size: 12px;
                margin-bottom: 20px;
            }
        }

        .auth-with-new-account{
            color: #262626;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 80px;
            margin-top: 10px;
        }
        
    }
    .auth-signup-wrapper{
        .auth-login-text{
            color: #262626;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
        }
    }
}

